<!--@subject {{trans "Your comment is pending approval"}} @-->
<!--@vars {
"var name":"User name"
} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td class="email-intro">
            <p class="greeting">{{trans "Hello %user_name," user_name=$name}}</p>
        </td>
    </tr>
    <tr>
        <td>
            {{trans "We have received your comment and should approve it to appear soon!"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
